header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  position: relative;
  z-index: 5;
}
.yellow {
  color: #fdcc52;
}
.flex-wrapper {
  display: flex;
}
.four-o-four {
  padding: 40px 10px 0;
  text-align: center;
}
.four-o-four-text {
  filter: url(#filter);
  fill: black;
    font-family: 'Share Tech Mono';
    font-size: 57px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.four-svg {
  width: 475px;
  height: 120px;
  display: block;
  position: relative;
  background: #faf9f9;
  margin: auto;
}
.loading-bar {
  height: 7px;
  width: 0%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  position: absolute;
  top: 50%;
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);
  transition: all 1s ease;
  background: linear-gradient(to left,#794bee,#d9002b);
}
.loading-bottom, .loading-top {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #fff;
  transition: all 1s ease-out;
}
.loading-top {
  top: 50%;
}
.loading-bottom {
  bottom: 50%;
}

@media screen and (max-width: 785px) {
  header {
    background: #ededed;
    border: 1px solid rgba(88,88,88,.8) !important;
    color: rgba(88, 88, 88, .8) !important;
  }
  header h1 {
    color: #585858 !important;
  }
  .wrapper {
    height: initial;
  }
}

@media screen and (max-width: 515px) {
  header {
    padding: 10px 10px;
  }
  header h1 {
    font-size: 1.5em;
  }
}
