.my-button {
  color:#585858;
  background:transparent;
  border-width:2px;
  border-style: solid;
  border-color: #585858;
  position:relative;
  margin:1em;
  min-width: 80px;
  display:inline-block;
  padding:.75em 1.1em .75em 1.5em;
  transition:all 0.3s ease-in-out;
  text-align:center;
  font-weight:bold;
  cursor: pointer;
  font-size: 18px
}
.my-button:before, .my-button:after {
  content:'';
  display:block;
  position:absolute;
  border-color:#585858;
  box-sizing:border-box;
  border-style:solid;
  width:1em;
  height:1em;
  transition:all 0.3s ease-in-out
}
.my-button:before {
  top:-6px;
  left:-6px;
  border-width:2px 0 0 2px;
  z-index:5;
}
.my-button:after {
  bottom:-6px;
  right:-6px;
  border-width:0 2px 2px 0;
}
.my-button:hover:before, .my-button:hover:after {
  width:calc(100% + 12px);
  height:calc(100% + 12px);
  border-color:#fff;
}
.see-stats.my-button {
  color:#585858;
  border-color:#585858;
  position: absolute;
  top: 10px;
  right: 0;
}
.see-stats.my-button:before, .see-stats.my-button:after  {
  border-color:#585858;
}
.see-stats.my-button:hover:before, .see-stats.my-button:hover:after {
  width:calc(100% + 12px);
  height:calc(100% + 12px);
  border-color:#585858;
  transform:rotateY(180deg);
}
.see-stats.my-button:hover {
  color:#585858;
  background-color:transparent;
  border-color:#585858;
}
.my-button.white {
  color:#ededed;
  border-color: #ededed;
}
.my-button.white:before, .my-button.white:after {
  border-color:#ededed;
}
.my-button.white:hover:before, .my-button.white:hover:after {
  border-color:#ededed;
}
.my-button.white:hover {
  color:#ededed;
  background-color:transparent;
  border-color:#ededed;
}
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  position: relative;
  z-index: 5;
}
.landing-wrapper {
  padding: 5% 10%;
  text-align: center;
}
#start-quiz {
	position: relative;
	display: inline-block;
	padding: 1.2em 2em;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	user-select: none;
	color: white;
}
#start-quiz::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(135deg, #525252, #969696);
	border-radius: 4px;
	transition: box-shadow .5s ease, transform .2s ease;
	will-change: transform;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	transform:
		translateY(var(--ty, 0))
		rotateX(var(--rx, 0))
		rotateY(var(--ry, 0))
		translateZ(var(--tz, -12px));
}
#start-quiz:hover::before {
	box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
  /*background: linear-gradient(135deg, #000b70, #000aff);*/
}
#start-quiz::after {
	position: relative;
	display: inline-block;
	content: attr(data-title);
	transition: transform .2s ease;
	font-weight: bold;
	letter-spacing: .01em;
	will-change: transform;
	transform:
		translateY(var(--ty, 0))
		rotateX(var(--rx, 0))
		rotateY(var(--ry, 0));
}
.three-d {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25vh;
	transform-style: preserve-3d;
	transform: perspective(800px);
}
.sliding-doors {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
.gate {
  position: relative;
  width: 50%;
  transition: all 0.5s ease-out;
}
.left-gate {
  right: 50%;
  left: 0;
}
.right-gate {
  left: 0;
  right: 0
}
.item-wrapper {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  pointer-events: auto;
  position: relative;
  overflow: hidden;
}
.item {
  cursor: pointer;
}
.item img:hover {
  box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.6);
}
.item img.white:hover {
  box-shadow: 0px 0px 10px 4px rgba(255,255,255,0.6);
}
.stats-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
}
@media screen and (max-width: 785px) {
  header {
    background: #ededed;
    border: 1px solid rgba(88,88,88,.8) !important;
    color: rgba(88, 88, 88, .8) !important;
  }
  header h1 {
    color: #585858 !important;
  }
  .my-button.see-stats {
    color:#585858 !important;
    border-color: #585858 !important;
  }
  .my-button.see-stats:before, .my-button.see-stats:after {
    border-color:#585858 !important;
  }
  .my-button.see-stats:hover:before, .my-button.see-stats:hover:after {
    border-color:#585858 !important;
  }
  .my-button.see-stats:hover {
    color:#585858 !important;
    background-color:transparent;
    border-color:#585858 !important;
  }
  .sliding-doors {
    display: block;
    position: relative;
  }
  .gate {
    width: 100%;
  }
  .left-gate {
    right: 0;
  }
  .right-gate {
    left: 0;
  }
  .item-wrapper {
    padding: 25px;
    width: auto;
  }
}

@media screen and (max-width: 515px) {
  header h1 {
    font-size: 1.5em;
  }
  .my-button {
    font-size: 12px;
  }
  .item-wrapper {
    display: block;
  }
  .see-stats.my-button {
    position: relative;
    top: 0;
  }
  .see-stats.my-button {
    position: relative;
    float: right;
    bottom: 0;
  }
}
