header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  position: relative;
  z-index: 5;
}
.four-o-four {
  padding: 40px 10px 0;
  text-align: center;
}
.four-o-four-text {
  filter: url(#filter);
  fill: black;
    font-family: 'Share Tech Mono';
    font-size: 57px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.four-svg {
  width: 475px;
  height: 120px;
  display: block;
  position: relative;
  background: #faf9f9;
  margin: auto;
}

@media screen and (max-width: 785px) {
  header {
    background: #ededed;
    border: 1px solid rgba(88,88,88,.8) !important;
    color: rgba(88, 88, 88, .8) !important;
  }
  header h1 {
    color: #585858 !important;
  }
  .wrapper {
    height: initial;
  }
}

@media screen and (max-width: 515px) {
  header {
    padding: 10px 10px;
  }
  header h1 {
    font-size: 1.5em;
  }
}
